body{
    padding: 0px;
    margin: 0px;
    border: 0px;


}

main{
    width: 20%;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    border: solid 1px black;
}

#topo{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
}

#tela{
    width: 73%;
    height: 50px;
    margin-right: 18px;
    border: solid 1px black;
}

#borracha{
    width: 21%;
    height: 50px;
    text-align: center;
    border: solid 1px black;
}

#eraser{
    width: 50px;
    margin-top: 7px;
    text-align: center;
}

.linhas{
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    display: flex;

}

.btn{
    width: 21%;
    margin-right: 18px;
    text-align: center;
    border: solid 1px black;

}

.btn, #borracha, #tela{
    border-radius: 10px;
}

#divisao, #multiplicacao, #subtracao, #adicao{
    width: 25%;
    height: 70px;
    margin-right: 0px;
}

p{
    width: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    margin: auto;
    margin-top: 15px;
}

#num{
    background-color: rgb(red, green, blue);
}
